<div class = "header-container">

	<div class = "header-content container">

		<div class = "header-links">

			<a href = "/">Home</a>
			<a href = "/dashboard">Dashboard</a>

			{{#if logged_in}}

				<a href = "/api/users/logout">Log Out</a>

			{{else}}

				<a href = "/login">Log In / Sign Up</a>
				
			{{/if}}

		</div>

		<div class = "header-title-container">

			<h1 class = "header-title">The Tech Blog</h1>

		</div>
	</div>
</div>