<div class = "home-post-container">

  <div class = "home-post-title-container">

    <h2>{{title}}</h2>
    <p>Posted by {{user_name}} on {{date}}</p>

  </div>

  <div class = "home-post-text-container">

    <p>{{text}}</p>

  </div>
</div>