<div class = "dashboard-container container">

  <div class = "dashboard-posts-list-container">

    {{#each posts as |post|}}
      <a href = "/dashboard/edit/{{id}}">

        <div class = "dashboard-post-details">

          <p>{{title}}</p>
          <p>{{date}}</p>

        </div>
      </a>
    {{/each}}

  </div>

  <a href = "/dashboard/create-post"><button class = "start-new-post-button">+ New Post</button></a>

</div>