<div class = "login-signup-container">

	<div class = "login-container">

		<input type = "text" placeholder = "Username" class = "username">
		<input type = "password" placeholder = "Password" class = "password">
		<button class = "login-button">Log In</button>

	</div>

	<div class = "signup-container">

		<input type = "text" placeholder = "Username" class = "username">
		<input type = "password" placeholder = "Password" class = "password">
		<button class = "signup-button">Sign Up</button>
		
	</div>
</div>

<script src="/js/login-signup.js"></script>