<div class = "login-signup-container container">

	<div class = "login-container six columns">

		<div class = "account-details-type">

			<p>Log In</p>

		</div>

		<div class = "account-details-container">

			<input type = "text" placeholder = "Username" class = "login username">
			<input type = "password" placeholder = "Password" class = "login password">
			<button class = "login-button">Log In</button>

		</div>
	</div>

	<div class = "signup-container six columns">

		<div class = "account-details-type">

			<p>Sign Up</p>

		</div>

		<div class = "account-details-container">

			<input type = "text" placeholder = "Username" class = "signup username">
			<input type = "password" placeholder = "Password" class = "signup password">
			<button class = "signup-button">Sign Up</button>
		
		</div>
	</div>
</div>

<script src = "/js/login-signup.js"></script>