<div class = "create-new-post-container container">

  <div class = "dashboard-post-details-header">

    {{#if edit}}

      <h2>Edit Post</h2>

    {{else}}

      <h2>Create Post</h2>

    {{/if}}

  </div>

  <h3>Title</h3>
  <input class = "post-title-input column" value = "{{title}}">

  <h3>Content</h3>
  <textarea class = "post-content-input column">{{text}}</textarea>

  {{#if edit}}

    <button class = "update-post-button">Update Post</button>
    <button class = "delete-post-button">Delete Post</button>
    <script src = "/js/edit-post.js"></script>

  {{else}}

    <button class = "upload-post-button">Create Post</button>
    <script src = "/js/create-post.js"></script>

  {{/if}}

</div>