<div class = "view-post-container">

  {{> post-details}}
  
</div>

{{#if logged_in}}
<div class = "create-comment-container">
  
  <h2>Comment</h2>
  <textarea class = "create-comment-text"></textarea>

</div>
{{/if}}

<div class = "comment-list-container">

  {{#each comments as |comment|}}
    {{> comment-details}}
  {{/each}}

</div>