/* ---------- general element styles ---------- */
:root
{
  --desaturated-indigo: #292640; /* main element accent colour */
  --light-ds-indigo: #514b80; /* highlight colour (e.g. button hover) */
  --lighter-ds-indigo: #7a71bf; /* strong highlight colour (e.g. input focus) */
	--lightest-ds-indigo: #e5e7ff; /* title / bright constrast colour */
}

/* sets default text colour, word-wrap settings, & font */
*
{
	margin: 0;
	padding: 0;
	color: var(--desaturated-indigo); 
	word-wrap: break-word;
	box-sizing: border-box;
	font-family: 'Raleway';
}

/* sets page background colour */
body
{
	background-color: var(--lightest-ds-indigo);
}

/* defines default button styles */
button
{
	color: var(--lightest-ds-indigo);
	border: none;
	cursor: pointer;
	border-radius: 5px;
	background-color: var(--desaturated-indigo);
}

/* sets buttons to change their background colour when hovered */
button:hover
{
	transition: 0.3s;
	background-color: var(--lighter-ds-indigo);
}

/* ---------- website header ---------- */

/* sets text & background colour for website header */
.header-container
{
	background-color: var(--desaturated-indigo);
	color: var(--lightest-ds-indigo);
}

/* defines spacing & font size for header links container */
.header-links
{
	padding: 20px 0px 10px;
	margin-left: -20px;
	font-size: 20px;
}

/* sets margin & text colour for individual header links */
.header-links > a
{
	margin-left: 25px;
	color: var(--lightest-ds-indigo);
}

/* sets header links to change colour when hovered */
.header-links > a:hover
{
	transition: 0.3s;
	color: var(--lighter-ds-indigo);
}

/* sets website title container to be displayed as a curved box with an inverted colour scheme to the rest of the header */
.header-title-container
{
	display: inline-block;
	margin: 10px 0px 20px;
	padding: 10px 20px;
	border-radius: 5px;
	color: var(--desaturated-indigo);
	background-color: var(--lightest-ds-indigo);
}

/* makes website title text bold */
.header-title
{
	margin-bottom: 0px;
	font-weight: bold;
}

/* ---------- homepage, post details, & comments ---------- */

/* defines display settings for blog post details */
.home-post-link, .view-post-content
{
	display: inline-block;
	margin-top: 20px;
	margin-left: 0px;
	border-radius: 5px;
	text-decoration: none;
	border: 3px solid var(--desaturated-indigo);
}

/* adds a small margin to the bottom of the post details when viewing a post's dedicated page */
.view-post-content
{
	margin-bottom: 10px;
}

/* places blog post title & date / author information on opposite ends of the header box, and sets the background colour */
.home-post-title-container
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--desaturated-indigo);
}

/* changes the text colour of each blog post's title & date / author information to contrast with the header background */
.home-post-title-container > *
{
	color: var(--lightest-ds-indigo);
}

/* sets font size & spacing for blog post title */
.home-post-title-container > h2
{
	font-size: 30px;
	padding: 7px 15px 10px;
}

/* sets font size & spacing for blog post date / author information */
.home-post-title-container > p
{
	font-size: 14px;
	padding: 0px 15px 3px;
}

/* defines display settings for blog post content */
.home-post-text-container
{
	color: var(--desaturated-indigo);
	font-size: 18px;
	padding: 5px 15px;
}

/* ---------- comments ---------- */

/* sets font size & adds a margin to 'Comment' header above the comment creation box */
.create-comment-container > h2
{
	margin-bottom: 10px;
	font-size: 24px;
}

/* sets height & width of comment creation text box, and only allows vertical resizing */
.create-comment-text
{
	width: 100%;
	height: 100px;
	resize: vertical;
}

/* sets focus colour for comment creation box */
.create-comment-text:focus
{
	border-color: var(--lighter-ds-indigo);
}

/* defines font size & spacing of the add comment button */
.add-comment-button
{
	margin: 10px 0px;
	font-size: 16px;
	padding: 7px 12px;
}

/* defines border & spacing for each comment box */
.individual-comment-container
{
	border: 3px solid var(--desaturated-indigo);
	border-radius: 5px;
	margin-bottom: 10px;
}

/* defines font size & spacing for comment text elements */
.individual-comment-container > p
{
	font-size: 16px;
	padding-left: 15px;
	padding-right: 15px;
}

/* adds a small gap above each comment's text */
.comment-text
{
	padding-top: 10px;
}

/* adds a small gap above & below each comment's author / date information */
.comment-author
{
	padding-top: 5px;
	padding-bottom: 10px;
}

/* ---------- login / signup page ---------- */

/* adds a gap above the login / signup container */
.login-signup-container
{
	margin-top: 20px;
}

/* adds a border to the login & signup containers */
.login-signup-container > div
{
	border: solid 3px var(--desaturated-indigo);
	border-radius: 5px;
}

/* displays the login & signup containers side-by-side */
.signup-container, .login-container 
{
	display: inline-block;
}

/* sets background colour of login & signup container headers */
.account-details-type
{
	background-color: var(--desaturated-indigo);
}

/* sets 'Log In' & 'Sign Up' headers to contrast with their backgrounds, and sets font size & spacing */
.account-details-type > p
{
	color: var(--lightest-ds-indigo);
	font-size: 24px;
	padding: 0px 0px 4px 10px;
}

/* sets font size & spacing for username & password inputs */
.account-details-container > input
{
	font-size: 18px;
	width: 98%;
	margin: 5px 1% 0px;
}

/* sets focus colour for username & password inputs */
.account-details-container > input:focus
{
	border-color: var(--lighter-ds-indigo);
}

/* sets font size & spacing for login & sign up buttons */
.account-details-container > button
{
	font-size: 16px;
	padding: 7px 12px;
	margin: 5px;
}

/* ---------- dashboard ---------- */

/* defines appearance for links to a user's posts on the dashboard */
.dashboard-posts-list-container > a
{
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
	width: 100%;
}

/* places blog post title & date information on opposite ends of each dashboard post link, and sets background colour */
.dashboard-post-details
{
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	border-radius: 5px;
	background-color: var(--desaturated-indigo);
}

/* sets hover colour for dashboard post links */
.dashboard-post-details:hover
{
	transition: 0.3s;
	background-color: var(--lighter-ds-indigo);
}

/* sets text colour for dashboard post links to contrast with the background colour */
.dashboard-post-details > p
{
	color: var(--lightest-ds-indigo);
	padding: 3px 10px;
}

/* sets font size & spacing for the 'New Post' button */
.start-new-post-button
{
	font-size: 24px;
	margin-top: 10px;
	padding: 8px 12px;
}

/* ---------- post creation / edit page ---------- */

/* adds a border and small margin to the post creation container */
.create-new-post-container
{
	border: solid 3px var(--desaturated-indigo);
	border-radius: 5px;
	margin-top: 10px;
}

/* sets the width & spacing of the title & text inputs for a post, and the following buttons */
.create-new-post-container > input,
.create-new-post-container > textarea,
.create-new-post-container > button
{
	width: 98%;
	margin: 0px 1% 10px;
}

/* sets focus colour for post title & content inputs */
.create-new-post-container > input:focus,
.create-new-post-container > textarea:focus
{
	border-color: var(--lighter-ds-indigo);
}

/* removes bottom margin from the post's title input */
.create-new-post-container > input
{
	margin-bottom: 0px;
}

/* adds a slight margin to the 'title' and 'content' section headers of the post creation container */
.create-new-post-container > h3
{
	margin-left: 1%;
}

/* sets font size & padding for post creation container buttons */
.create-new-post-container > button
{
	font-size: 20px;
	padding: 10px;
}

/* sets background colour for post creation header */
.dashboard-post-details-header
{
	background-color: var(--desaturated-indigo);
}

/* sets text colour & spacing for post creation header */
.dashboard-post-details-header > h2
{
	padding-left: 10px;
	color: var(--lightest-ds-indigo);
}

/* sets font size for post title input */
.post-title-input
{
	font-size: 30px;
}

/* sets font size & height of post content text box, and only allows vertical resizing */
.post-content-input
{
	font-size: 18px;
	height: 100px;
	resize: vertical;
}

/* ---------- error modal ---------- */

/* sets error modal to take up the entire page, with a transluscent black background, overlaid over the rest of the page's content */
.modal
{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.7);
}

/* sets modal content box appearance and spacing */
.modal-content
{
	text-align: center;
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* sets position & appearance of modal close button */
.close
{
	position: absolute;
	top: -30px;
	right: -12px;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

/* sets hover colour for modal close button */
.close:hover
{
	transition: 0.3s;
	color: red;
}

/* sets modal close container's position to be relative */
.modal-close-container
{
	position: relative;
}